.advertisement
{
	width:100px;
	height:150px; 
	border-color:black;
	border-width:2px; 
	background-color:gray; 
	color:rgb(0, 0, 0);
}
.header{
	margin: auto;
	width: 70%;
	display: flex;
}
.title{
	margin-left: 3px;
}

.content{
	
	box-sizing: border-box;
	margin: auto;
	margin-top: 40px;
	width: 70%;
}
.main{
	text-align: justify;
	width: 100%;
	margin: 2px;
}
#koala{
	margin-right: 5px;
	width: 250px;
	float: left;
}
.advertisement{
	position: absolute;
	top: 0px;
	left: 0px;
}
.head{
	text-align: center;
	margin: auto;
}
